.btn {
  width: 95%;
  margin: auto;
  display: flex;
}

button {
  flex: 1;
  height: 15vh;
  font-size: 25px;
}
.display {
  height: 15vh;
  text-align: center;
  font-size: 30px;
}
.btn0 {
  flex-grow: 2;
}
